<<<<<<< HEAD
<div id="header">
	<h1>Wes Music Map</h1>
</div>
<div id="map-canvas">
  <div id="player"></div>
</div>
=======
>>>>>>> f9da3cd0ea2ed80c4d2a8e0f718355af93ab2598
<div id="header"></div>
<div id="map-canvas"></div>
<div id="footer"></div>
