html {
	height: 100%;
  padding: 0px;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow: hidden;
}

.playpause {
  width: 25px;
  height: 20px;
  display: inline-block;
  background: url("/assets/play-and-pause-button.png") center center no-repeat;
  border-radius: 3px;
  padding: 5px;
}

.playpause:active{
  background-color: #fbfd58;
}

#header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #CCC;
  margin: 0px;
  padding: 0px;
  h1 {
    position: relative;
    top: -17px;
    text-align: center;
    font-weight: 200;
    font-size: 48px;
    margin-bottom: 0px;
    color: #d7221f;
  }

  #header-controls {
    position: absolute;
    top: 15px;
    right: 20px;
  }

  a {
    color: #958dd7;
    text-decoration: none;
    margin-left: 10px;
  }

  a:hover {
    text-decoration: underline;
  }
}

#map-canvas {
  position: absolute;
  top: 102px;
  bottom: 0px;
  left: 0px;
  right: 350px;
  z-index: 3;
}

#sidebar {
  border-left: 2px solid #CCC;
  right: 0px;
  width: 348px;
  position: absolute;
  bottom: 0px;
  top: 102px;
  overflow: auto;

  .nearby-songs {
    padding: 15px;

    .album-art {
      width: 80px;
      height: 80px;
    }

    .song {
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 14px;
    }

    .song-info {
      clear:both;
      display: inline-block;
      position: relative;
      left: 10px;
      .song-name {
        font-weight: 500;
      }
    }
  }
}

#footer {
  position: absolute;
  bottom: 0px;
  height: 100px;
  border-top: 2px solid #CCC;
  width: 100%;
  z-index: 2;
  padding-top: 15px;
  box-sizing: border-box;

  #play-slider {
    height: 50px;
    margin: 0px auto 0px auto;
    width: 500px;
  }
}

.songsearch {
  width: 320px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: 277px 45px;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 16px;
  overflow-y: visible;
  overflow-x: hidden;

  .searchbox {
    width: 250px;
    height: 20px;
    margin-top: 12px;
    border: 1px solid #CCC;
    padding: 5px;
  }
}

.yui3-aclist-content {
  background: white;
  border: 1px solid #CCC;
  width: 380px;
  overflow: auto;

  .yui3-aclist-item {
    padding: 5px;
    float: left;
    line-height: 15px;

    .album-art {
      float: left;
      width: 50px;
      height: 50px;
      margin-left: 5px
    }

    .song-info {
      position: relative;
      top: 5px;

      .song-name {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 2px;
      }

      font-size: 10px;
      float: left;
      width: 300px;
      padding-left: 15px;
    }
  }
}

.yui3-aclist-item-active, .yui3-aclist-item-hover {
  background: #9aa5ff;
}

