<!DOCTYPE html>
<html>
<head>
  <title>MusicMap</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag "mainview", :media => "all" %>
  <%= stylesheet_link_tag 'mobile' if mobile_device? %>
  <script src="http://yui.yahooapis.com/3.10.1/build/yui/yui-min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ84LjygbqhfMnk1OT5INZNttWhBn8Jd4&sensor=true"></script>
    <script src='/assets/common.js'></script>
    <script src='/assets/mainview.js'></script>
  <% if current_user %>
    <script>var UID = <%= current_user.uid %>;</script>
  <% else %>
    <script>var UID = null;</script>
  <% end %>
</head>
<body class="yui3-skin-sam">
<%= yield %>
<% debug(params) if Rails.env.development? %>

</body>
</html>
