<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Wes Music Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <%= stylesheet_link_tag    "mobile", :media => "all" %>
    <script src="http://yui.yahooapis.com/3.10.1/build/yui/yui-min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ84LjygbqhfMnk1OT5INZNttWhBn8Jd4&sensor=true"></script>
    <%= javascript_include_tag "common" %>
    <%= javascript_include_tag "mobile" %>    
</head>
  <body class="yui3-skin-sam">
    <%= yield %>
  </body>
</html>

