<!DOCTYPE html>
<html>
<head>
  <title>MusicMap</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag "mainview", :media => "all" %>
  <%= stylesheet_link_tag 'mobile' if mobile_device? %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500, 300italic,100italic' rel='stylesheet' type='text/css'>
  <script src="http://yui.yahooapis.com/3.10.1/build/yui/yui-min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ84LjygbqhfMnk1OT5INZNttWhBn8Jd4&sensor=true"></script>
    <script src='/assets/common.js'></script>
    <script src='/assets/mainview.js'></script>
  <% if current_user %>
    <script>var UID = <%= current_user.uid %>;</script>
  <% else %>
    <script>var UID = null;</script>
  <% end %>
</head>
<body class="yui3-skin-sam">
<%= yield %>
<% debug(params) if Rails.env.development? %>
<div id="about-us" style = "display:none">
  <h1>Wes Music Map</h1>
  <p>
  This site was made by Matt Adelman, Julian Applebaum, Aaron Rosen, and Aaron Plave during the Wesleyan 2013 Hackathon.
  Remember that song you listened to freshman year while ...
  </p>
  <p>
  Wesmusicmap lets you tag your memorable songs in the places you heard them. You can listen to your songs and other people's songs by clicking on the icons in the map or by visiting Wesmusicmap on your phone and walking around campus. As you walk around campus, you'll hear samples of the songs tagged around your current location.
  </p>
  <p>
  To tag a song, double click on the location you want to tag and search for your song by name, artist, and/or album. If the Next to the album artwork in the pop up box.
  </p>
  <p>
  To hear songs in a particular area of campus from your desktop computer, drag and resize the red circle to fit the area.
  </p>
  <p>
  When you click on a song in the map, you'll see the album artwork and song information. If the user who posted the song was logged in through facebook, you'll also see their user name and profile picture.
  </p>
  <a href = "javascript:void(0)" id="close-about">Close</a>
</div>
</body>
</html>
